html,body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}


#form{
  width: 100%;
  height: 100%;
}


#form-content{
  height: 100vh;
  background: #fafafa;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  padding: 10px 0px 10px 0px;
  width: 100%;
  font-family: arial;
  font-size: 20px;
}

input:focus{
  outline: none;
}

input[type="text"]{
  width: 100%;
  margin: 10px 0px 15px 0px;
  height: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-family: arial;
  font-size: 20px;
}

textarea[name="cf_message"]{
  margin-top: 20px;
  height: 500px;
  width: 900px;
  font-family: arial;
  font-size: 15px;
}

input[type="submit"],input[type="reset"]{
  font-family: arial;
  font-size: 20px;
  margin-top: 10px;
  background: transparent;
  outline: none;
  border: solid 1px black;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: green;
  color: white;
  transition: 0.3s;
  border: solid 1px green;
}

input[type="reset"]:hover{
  background-color: red;
  color: white;
  transition: 0.3s;
  border: solid 1px red;
}

#contact-form{
  padding-top: 25px;
}
